.file-list-container {
  margin-top: 20px;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .card {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: inset -5px -5px 9px rgb(0 0 0 / 45%), inset 5px 5px 9px rgb(86 112 239 / 30%);
    .file-info {
      p {
        margin: 5px 0;
      }
    }
    .file-actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      button {
        margin-left: 10px;
        margin-right: 0;
      }
    }
    .qr-code {
      margin-top: 10px;
      text-align: center;
    }
  }
}

/* Responsive design */
@media (min-width: 600px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.search-bar {
  width: 100%;
  margin-bottom: 15px;
}

.file-preview {
  margin-top: 10px;
  text-align: center;
  .preview-img {
    width: 40px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
  }
  .pdf-icon {
    font-size: 25px;
    cursor: pointer;
  }
}

.fullscreen-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  img, embed {
    max-width: 90%;
    max-height: 90%;
  }
  iframe{
    width: 80%;
    height: 80%;
  }
}
